LAN_IP=192.0.2.10
UPLOAD_LOCATION=/data/personal/Photos/immich/library
EXTERNAL_PHOTOS_LOCATION=/data/personal/Photos
DB_DATA_LOCATION=/data/docker/appdata/immich/postgres
TZ=America/Los_Angeles
IMMICH_VERSION=v3
IMMICH_MACHINE_LEARNING_URL=http://host.docker.internal:3004
DB_PASSWORD=
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
