NAS_LAN_IP=192.0.2.10
PC_LAN_IP=192.0.2.20
IMMICH_VERSION=v3
TDARR_API_KEY=tapi_change_me
PC_WORKER_NODE_NAME=pc-gpu-worker
PC_MEDIA_MOUNT=/home/user/Server/media
PC_TORRENTS_MOUNT=/home/user/Server/torrents
PC_WORKER_APPDATA=/home/user/docker/appdata
